.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.4);
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal{
    width:420px;
    background:var(--card);
    padding:25px;
    border-radius:10px;
}

.modal h2{
    margin-bottom:20px;
}

.modal label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
}

.modal input,
.modal select{
    width:100%;
    padding:10px;
    border:1px solid var(--border);
    border-radius:8px;
    background:transparent;
    color:var(--text);
    box-sizing:border-box;
}

.modal-buttons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin-top:20px;
}

.save-btn{
    background:var(--primary);
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.cancel-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}