.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal{
    width:400px;
    background:var(--card);
    padding:25px;
    border-radius:10px;
}

.modal label{
    display:block;
    margin-top:15px;
}

.modal input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid var(--border);
    box-sizing:border-box;
}