.register-container{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#2563eb,#60a5fa);

}

.register-box{

    width:380px;

    background:var(--card);

    padding:40px;

    border-radius:20px;

    box-shadow:var(--shadow);

    animation:pop .7s;

}

.register-box h2{

    text-align:center;

    margin-bottom:30px;

    color:var(--text);

}

.register-box input{

    width:100%;

    padding:14px;

    margin-bottom:20px;

    border:1px solid var(--border);

    border-radius:10px;

    background:transparent;

    color:var(--text);

}

.register-box input:focus{

    outline:none;

    border-color:var(--primary);

    box-shadow:0 0 8px rgba(37,99,235,.3);

}

.register-box button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:var(--primary);

    color:white;

    font-size:16px;

}

.register-box button:hover{

    background:var(--primary-hover);

    transform:translateY(-2px);

}

.register-box p{

    text-align:center;

    margin-top:20px;

}

@keyframes pop{

    from{

        transform:scale(.8);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}